<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using HTML, Javascript and CSS I are able to successfully 
        developed a responsive website that admin can use to login, logout , view dashboard, view graph , add new facts and answer student's question.
    </p>

    <p>
        The idea is for student to take a picture of the fact provided and will recieve point when the admin approves it , the admin can also answer user's question if any.
        This application is great for new student to give student a chance to explore the school, like an open house setting. 
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that the application do not have any backend/serverless function hence nothing will be saved after exiting. </span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/html.png"/>
        <img src="assets/img/javascript.png"/>
        <img src="assets/img/css.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the application below (Username: 123 | Password: 123). </p>
        <p><b>LIVE APPLICATION LINK  : </b> <a href="https://snap-nyp-admin.netlify.app/adminloginpage">https://snap-nyp-admin.netlify.app/adminloginpage</a></p>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/snapnyp-admin-view">https://github.com/ZepseWolf/snapnyp-admin-view</a></p>
    </div>
</div>