<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using HTML, JavaScript, and CSS, I successfully developed a responsive website where administrators can log in, log out, view the dashboard, view graphs, add new facts, and respond to student questions.
    </p>

    <p>
        Students take a picture of a displayed fact and receive points when the admin approves it. Admins can also respond to student questions.
        This application is ideal for new students, giving them an opportunity to explore the school in an open-house-style setting.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please note that this application has no backend or serverless functionality, so no data is saved after the session ends.</span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/html.png"/>
        <img src="assets/img/javascript.png"/>
        <img src="assets/img/css.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the application below (Username: 123 | Password: 123).</p>
        <p><b>LIVE APPLICATION LINK  : </b> <a href="https://snap-nyp-admin.netlify.app/adminloginpage">https://snap-nyp-admin.netlify.app/adminloginpage</a></p>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/snapnyp-admin-view">https://github.com/ZepseWolf/snapnyp-admin-view</a></p>
    </div>
</div>
