<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Uipath, Python and Tensorflow , I am able to successfully 
        developed a script that is able to mine data and classified if a twitter user is feeling negative or positive.
    </p>

    <p>
        The model is trained on data scraped on good news and negative internet comments.
        This application aims demostrate that with a proper data scraping and AI, it is possible to achieve high congnitive ablilities even without any NLP model.
    </p>

    <!-- <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that this project is owned by Keysight Technologies Singapore (sales) pte. ltd , i do not have the offical screenshot and product.</span>
    </p> -->
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img class="whitten" src="assets/img/UIpath.png"/>
        <img src="assets/img/Python.png"/>
        <img src="assets/img/TensorFlow.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the live twitter data scrape and Convolutional Neural Network in action.</p>
        <video width="90%" controls>
            <source src="assets/vid/negativecnn.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/negative-text-cnn">https://github.com/ZepseWolf/negative-text-cnn</a> </p>
    
        
    </div>
</div>