<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using UiPath, Python, and TensorFlow, I successfully developed a script capable of mining data and classifying whether a Twitter user's sentiment is negative or positive.
    </p>

    <p>
        The model was trained on data scraped from positive news articles and negative internet comments.
        This application demonstrates that with proper data scraping and AI, it is possible to achieve strong sentiment classification capabilities even without a dedicated NLP model.
    </p>

    <!-- <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that this project is owned by Keysight Technologies Singapore (sales) pte. ltd , i do not have the offical screenshot and product.</span>
    </p> -->
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img class="whitten" src="assets/img/uipath.png"/>
        <img src="assets/img/python.png"/>
        <img src="assets/img/tensorflow.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the live Twitter data scraping and Convolutional Neural Network in action.</p>
        <video width="90%" controls>
            <source src="assets/vid/negativecnn.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/negative-text-cnn">https://github.com/ZepseWolf/negative-text-cnn</a> </p>


    </div>
</div>
