<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Express , Mongodb , Socket IO , Flutter , apache 2 and NGINX we are able to successfully 
        developed a full stack application that aims to assist first responder in idenifying threats.
    </p>

    <p>
        I was place in charge of the whole backend while my other teammate worked on the frontend.
        Unfortunately we had alot of problem with frontend and the application is extremely unstable.
        However,the endpoints of all the server is currently running on the vercel link.
    </p>

    <p>
        I also did an analysis on which reverse proxy application to use to ensure the highest possible value for the customer. I used port balance technology and successful frequency of HTTP request as a gadge.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that the server is hosted on vercel free tier and so the Socket IO, NGINX or Apache 2 will not be functional. 
            As this application was developed for GRAYMATICS - SG PTE. LTD. hence many detail will be left out, you can only interact with the server via HTTP Request, the cors are set to anyone so everyone can interact with it.</span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img class="whitten"src="assets/img/Express.png"/>
        <img src="assets/img/Mongodb.png"/>
        <img src="assets/img/SocketIO.png"/>
        <img src="assets/img/Flutter.png"/>
        <img src="assets/img/Apache.png"/>
        <img src="assets/img/NGINX.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>NGINX vs Apache 2 , small performance test under small DDOS attacks. </p>
        <img src="assets/img/smartAnalysis1.png"/>
        <p class="image-title">
            Fig 1. Blackout Time Analysis On Multi Line graph
        </p>
        <img src="assets/img/smartAnalysis2.png"/>
        <p class="image-title">
            Fig 2. Port Usage On Cluster Bar Chart
        </p>
        <p>
            From Fig 1. and Fig 2., it shows that NGINX performed better then Apache 2 when it comes to burst of post request. 
            NGINX also was able to perfectly balance all request load. Hence NGINX will be the provide the highest value to the customer.
        </p>

        <p><b>LIVE APPLICATION LINK  : </b> <a href="https://smart-view-backend.vercel.app/">https://smart-view-backend.vercel.app/</a></p>
        
    </div>
</div>