<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Express, MongoDB, Socket.IO, Flutter, Apache 2, and NGINX, we successfully developed a full-stack application designed to assist first responders in identifying potential threats.
    </p>

    <p>
        I was placed in charge of the entire backend, while my teammates worked on the frontend.
        Unfortunately, we encountered significant frontend issues, resulting in an unstable application.
        However, all server endpoints are currently running and accessible via the Vercel link.
    </p>

    <p>
        I also conducted an analysis to determine the optimal reverse proxy solution for the customer, evaluating load balancing performance and successful HTTP request frequency as key metrics.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please note that the server is hosted on Vercel's free tier, so Socket.IO, NGINX, and Apache 2 functionality will not be available.
            As this application was developed for GRAYMATICS SG PTE. LTD., many details have been omitted. Interaction is limited to HTTP requests, with CORS configured to allow public access.</span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img class="whitten"src="assets/img/express.png"/>
        <img src="assets/img/mongodb.png"/>
        <img src="assets/img/socketio.png"/>
        <img src="assets/img/flutter.png"/>
        <img src="assets/img/apache.png"/>
        <img src="assets/img/nginx.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>NGINX vs. Apache 2 — performance test under simulated DDoS attacks.</p>
        <img src="assets/img/smartAnalysis1.png"/>
        <p class="image-title">
            Fig 1. Blackout Time Analysis — Multi-Line Graph
        </p>
        <img src="assets/img/smartAnalysis2.png"/>
        <p class="image-title">
            Fig 2. Port Usage — Clustered Bar Chart
        </p>
        <p>
            From Figures 1 and 2, NGINX outperformed Apache 2 in handling bursts of POST requests and achieved more balanced load distribution. As a result, NGINX was selected as the optimal solution to deliver the highest value to the customer.
        </p>

        <p><b>LIVE APPLICATION LINK  : </b> <a href="https://smart-view-backend.vercel.app/">https://smart-view-backend.vercel.app/</a></p>

    </div>
</div>
