<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using angular and firebase, we were able to successfully 
        developed an android mobile application , that is designed to assist researchers in conducting scope inventory viewing, handling, and scheduling with ease.
    </p>

    <p>
        I worked on the menus, login page , assist with all of the pages and implemented the database. 
    </p>

    <!-- <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that this project is owned by Keysight Technologies Singapore (sales) pte. ltd , i do not have the offical screenshot and product.</span>
    </p> -->
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/angular.png"/>
        <img src="assets/img/firebase.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the whole application demo below. </p>
        <!-- <video width="90%" controls>
            <source src="assets/vid/negativecnn.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video> -->
        <p><b>LIVE APPLICATION LINK : </b> <a href="https://csc-2005-team-project.vercel.app/">https://github.com/ZepseWolf/CSC2005-Team-Project</a> </p>
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/CSC2005-Team-Project">https://github.com/ZepseWolf/CSC2005-Team-Project</a> </p>
    </div>
</div>