<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Watson APIs, Mongoose, Node JS, Heroku . We were able to successfully 
        implemented and launched a live Server, completed REST API that performed database functions with matching algorithm.
    </p>

    <p>
        I developed of the whole backend of the application. This project aims to link employeer and employee similar to linkin but in a more focused way.
        We will use IBM watson text to cognative to determaine the most suited employee. 
    </p>

    <p>
        It is sad to say that the application didnt make it to the company's offical product as it was given a short deadline and is badly excuted.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/nodejs.png"/>
        <img class="whitten" src="assets/img/express.png"/>
        <img src="assets/img/mongodb.png"/>
        <img  src="assets/img/watson.png"/>
    </div>
    <div class="section-title">
        Github
    </div>
    <div class="demo-item">
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/IntermatchServerLive">https://github.com/ZepseWolf/IntermatchServerLive</a> </p>
        <p style="color:rgb(255, 72, 72)">Please note due the old watson api was deprecated hence the application is not functional.</p>
    </div>
</div>