<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Watson APIs, Mongoose, Node.js, and Heroku, we successfully implemented and launched a live server with a complete REST API that performed database operations and a matching algorithm.
    </p>

    <p>
        I developed the entire backend of the application. This project aimed to connect employers and employees, similar to LinkedIn but with a more targeted approach.
        We used IBM Watson's Text to Cognitive analysis to determine the most suitable employee match.
    </p>

    <p>
        Unfortunately, the application was not adopted as an official company product, as it was developed under a tight deadline and the execution fell short of expectations.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/nodejs.png"/>
        <img class="whitten" src="assets/img/express.png"/>
        <img src="assets/img/mongodb.png"/>
        <img  src="assets/img/ibmwatson.png"/>
    </div>
    <div class="section-title">
        Github
    </div>
    <div class="demo-item">
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/IntermatchServerLive">https://github.com/ZepseWolf/IntermatchServerLive</a> </p>
        <p style="color:rgb(255, 72, 72)">Please note that the application is no longer functional, as the Watson API version used has since been deprecated.</p>
    </div>
</div>
