<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Eel & Python , we are able to successfully 
        developed a responsive desktop application that can successfully perform steganography with a cover file and payload. 
        We focus on .docx , img , .mp3 , and .mp4 as the cover file. We focused on the plain text , .docx , img , .mp3 , and .mp4 as the payload.
    </p>

    <p>
        I was incharge of the .docx to any payload type. I was also tasked to connect up the connectivity of the application , frontend with the logic and file to displaying media .
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <div>https://github.com/python-eel/Eel</div>
        <img src="assets/img/Python.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>A demo of hidding a .mp4 file into a .docx file.</p>
        <video width="90%" controls>
            <source src="assets/vid/steganography.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/CSC2004-Team-Project">https://github.com/ZepseWolf/CSC2004-Team-Project</a></p>
    </div>
</div>