<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Eel and Python, we successfully developed a desktop application capable of performing steganography using a cover file and a payload.
        We supported .docx, image, .mp3, and .mp4 files as cover formats, and plain text, .docx, image, .mp3, and .mp4 as payload formats.
    </p>

    <p>
        I was responsible for implementing .docx steganography support for all payload types. I was also tasked with integrating the application's frontend with the core logic and media display functionality.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <div>https://github.com/python-eel/Eel</div>
        <img src="assets/img/python.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>A demo of hiding an .mp4 file within a .docx file.</p>
        <video width="90%" controls>
            <source src="assets/vid/steganography.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/CSC2004-Team-Project">https://github.com/ZepseWolf/CSC2004-Team-Project</a></p>
    </div>
</div>
