<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using C only, I successfully developed a script implementing the Naïve Bayes algorithm to classify normal specimens from altered ones.
    </p>

    <p>
        The script implements the Naïve Bayes machine learning algorithm, which can process multiple features even with limited training data.
        However, Naïve Bayes assumes feature independence, which can lead to a higher rate of false classifications and reduced accuracy in certain scenarios.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/c.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>The results achieved from the given dataset are shown below.</p>
        <img src="assets/img/naiveanalysis1.png"/>
        <p class="image-title">
           Fig 1. 80/20 (training/testing) dataset ratio confusion matrix
        </p>
        <img src="assets/img/naiveanalysis2.png"/>
        <p class="image-title">
            Fig 2. 90/10 (training/testing) dataset ratio confusion matrix
        </p>
        <img src="assets/img/naiveanalysis3.png"/>
        <p class="image-title">
           Fig 3. Error comparison across different training/testing ratios
        </p>
        <p>
            The results show that a 90% training and 10% testing split achieved the lowest error rate and appears to be the optimal ratio for this dataset. All datasets and the algorithm implementation can be found in the GitHub link below.
        </p>

        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/CSC1003-Project">https://github.com/ZepseWolf/CSC1003-Project</a> </p>
    </div>
</div>
