<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using C only , I am able to successfully 
        developed a script that uses naive bayes is able to classify a normal specimen from an altered specimen.
    </p>

    <p>
        The script feature a machine learning algorithm called naive bayes , which is able to take in multiple features while having low data provided.
        However naive bayes tend to assume features are independent which will cause alot of false classification hence it can be inaccurate at times.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/C.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>These are the result achieved from the data set given.</p>
        <img src="assets/img/naiveanalysis1.png"/>
        <p class="image-title">
           Fig 1. 80/20 (training/testing) dataset ratio confusion matrix
        </p>
        <img src="assets/img/naiveanalysis2.png"/>
        <p class="image-title">
            Fig 2. 90/10 (training/testing) dataset ratio confusion matrix
        </p>
        <img src="assets/img/naiveanalysis3.png"/>
        <p class="image-title">
           Fig 3. Different ratio testing error and training error
        </p>
        <p>
            This shows that 90% training and 10% testing data achieved the least error and might be the best ratio for this current dataset. All dataset and algorithm can be found in the github link. 
        </p>
        
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/CSC1003-Project">https://github.com/ZepseWolf/CSC1003-Project</a> </p>
    </div>
</div>