.container{
    height: 100%;
    width: 100%;
    background-color: rgb(248, 253, 240);
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    // flex-flow: row wrap;
    color: black;
    animation:fadeIn 1s;

    .divider{
        height: 100%;
        width: 2px;
        background-color: #f1eebc;
        
        // .top{
        //     height: 50%;
        //     width: 5px;
        //     border-left:4px solid rgb(0, 0, 0);
            // background-color: rgb(9, 14, 9);
        // }
        // .bottom{
        //     height: 50%;
        //     width: 5px;
        //     border-right:4px solid rgb(0, 0, 0);
            // background-color: green;
        // }
        // border: 1px solid green;
    }
    
    .wallet{
        background-color: rgb(12, 12, 12);
        color: aliceblue;
        &:hover{
            background-color: rgb(21, 21, 21);
        }
    }

    .top-up:hover{
        background-color: rgb(210, 210, 205);
    }
    .content{
        flex: 1;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 40px;
        // border-left: 1px solid;
        

        .title{
            position: absolute;
            font-family: 'mainFont-bold';
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            // height: 100%;
            // width: 100%;
            
        }

        .inner-forms{
            animation: fadeIn 2s forwards;
            

            .form{
                
                input[type="text"]{
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    border-bottom: solid red 1px;
                    color: white;
                    float: right;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }
       
        
    }
    
    img{
        margin: 20px;
        background: white;
        border-radius: 8px;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes changeSize {
    0% {font-size: 12px;}
    100% {font-size: 24px;}
}

@keyframes changeSizeIcon {
    0% {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
    100% {
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
}

@keyframes moveTop {
    0% {top: 50%}
    100% {top:30px;}
}