<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using kotlin and firebase , we were able to successfully 
        developed an android mobile application , that is designed to assist researchers in conducting scope inventory viewing, handling, and scheduling with ease.
    </p>

    <p>
        I am mainly incharge of the scheduling section , where the user interact with the calendar module and is able to add and delete schedules.
    </p>

    <!-- <p>
        <span style="color:rgb(255, 72, 72)">*Please take note that this project is owned by Keysight Technologies Singapore (sales) pte. ltd , i do not have the offical screenshot and product.</span>
    </p> -->
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/kotlin.png"/>
        <img src="assets/img/firebase.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the whole application demo below. Please note the demo is not done by me. </p>
        <!-- <video width="90%" controls>
            <source src="assets/vid/negativecnn.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video> -->
        <iframe width="90%" height="600" src="https://www.youtube.com/embed/3nbW_dogXLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p><b>GITHUB LINK : </b> <a href="https://github.com/ZepseWolf/CSC2007-Team-Project">https://github.com/ZepseWolf/CSC2007-Team-Project</a> </p>
    </div>
</div>