<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Andriuo only , we are able to successfully 
        developed a working Lora outdoor location tracker using triangulation and a healable BLE mesh with M5stick Plus C.
    </p>

    <p>
        I am in charge on mainly the delivery of the healable BLE mesh and a small part of setup for the Lora. 
        The idea of the project is to do comparison of communication between these IOT component to identify possible usage in the real world.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please take note as i only mainly did the healable BLE mesh hence only that application is shown. </span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/arduino.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the application below.</p>
        <video width="300px" controls>
            <source src="assets/vid/blemesh.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/CSC2006-Team-Project">https://github.com/ZepseWolf/CSC2006-Team-Project</a></p>
    </div>
</div>