<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Arduino only, we successfully developed a functional LoRa outdoor location tracker using triangulation and a self-healing BLE mesh network with the M5StickC Plus.
    </p>

    <p>
        I was primarily responsible for delivering the self-healing BLE mesh component and contributed to the LoRa setup.
        The project aimed to compare communication methods between these IoT components to identify their potential real-world applications.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please note that as my primary contribution was the self-healing BLE mesh, only that component is demonstrated.</span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/arduino.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>See the application below.</p>
        <video width="300px" controls>
            <source src="assets/vid/blemesh.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/CSC2006-Team-Project">https://github.com/ZepseWolf/CSC2006-Team-Project</a></p>
    </div>
</div>
