<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        ⁤Implementing a toolbar that is able to scrape raw data within websites, converted into abstract syntax tree , indexed-tokenized text , and secure sockets layer information. Use as features to conduct classification with convolutional neural network & bidirectional long short term with attention.
    </p>

    <p>
        The project was a success at 86% Validation rate. With high industrial standard of precission and recall values.
    </p>

    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/javascript.png"/>
        <img src="assets/img/tensorflow.png"/>
        <img class="whitten" src="assets/img/flask.png"/>
        <img src="assets/img/python.png"/>
        <img src="assets/img/esprima.png"/>
        <img src="assets/img/fasttext.png"/>
    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <!-- <p style="color:rgb(255, 72, 72)"></p> -->
        <p>The poster and video demo are shown below . </p>
        <img class="capstone-poster" src="assets/img/Capstone_Poster.png"/>
        <p class="image-title">
           Fig 1. Capstone Poster - AirStike
        </p>
        <video width="90%" controls>
            <source src="assets/vid/airstrike.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p><b>GITHUB LINK  : </b> <a href="https://github.com/ZepseWolf/Air-Striking">https://github.com/ZepseWolf/Air-Striking</a></p>
    </div>
</div>