<div class="main-container">
    <div class="section-title">
        Introduction
    </div>
    <p>
        Using Angular 12 and the Electron framework, I successfully developed a fully interactive desktop application for managing Wire-Bond Capacitance Testing technology.
        I participated in an Agile development process utilizing Slack, JIRA, and Bitbucket to ensure a smooth and coordinated workflow.
    </p>

    <p>
        I was primarily responsible for developing the frontend and the Electron application, including MQTT topic subscription handling.
        To test and validate the implementation, I also worked with Node-RED and RabbitMQ.
    </p>

    <p>
        <span style="color:rgb(255, 72, 72)">*Please note that this project is owned by Keysight Technologies Singapore (Sales) Pte. Ltd. Official screenshots and product details are not available for disclosure.</span>
    </p>
    <div class="section-title">
        Tool Used
    </div>
    <div class="tool-used">
        <img src="assets/img/angular.png"/>
        <img src="assets/img/electron.png"/>
        <img src="assets/img/jira.png"/>
        <img src="assets/img/bitbucket.png"/>
        <img src="assets/img/slack.png"/>

    </div>
    <div class="section-title">
        Demo
    </div>
    <div class="demo-item">
        <p>The final product is identical to the image below.</p>
        <img src="assets/img/xvtep.png"/>
    </div>
</div>
