<div class="home-main">
    <div class="background ">
        <img id="brand-notebook" class="background-images" src="assets/img/notebook.png"  >
        <img id="brand-camera" class="background-images" src="assets/img/items.png" >
        
        <div class="content-container first-page-container" >
            <div class="item-frame ">
                <div class="inner-content" > 
                    <br/>
                    <div class="title">SEE KAI CONG</div>
                    <!-- <svg id="brandname" width="636" height="105" viewBox="0 0 636 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                        
                        <path d="M70.248 103L47.208 70.6C44.616 70.888 41.928 71.032 39.144 71.032H12.072V103H1.41602V2.2H39.144C52.008 2.2 62.088 5.272 69.384 11.416C76.68 17.56 80.328 26.008 80.328 36.76C80.328 44.632 78.312 51.304 74.28 56.776C70.344 62.152 64.68 66.04 57.288 68.44L81.912 103H70.248ZM38.856 61.96C48.84 61.96 56.472 59.752 61.752 55.336C67.032 50.92 69.672 44.728 69.672 36.76C69.672 28.6 67.032 22.36 61.752 18.04C56.472 13.624 48.84 11.416 38.856 11.416H12.072V61.96H38.856Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M176.471 52.6H186.695V91.048C181.991 95.176 176.423 98.344 169.991 100.552C163.559 102.76 156.791 103.864 149.687 103.864C139.607 103.864 130.535 101.656 122.471 97.24C114.407 92.824 108.071 86.728 103.463 78.952C98.8545 71.08 96.5505 62.296 96.5505 52.6C96.5505 42.904 98.8545 34.168 103.463 26.392C108.071 18.52 114.407 12.376 122.471 7.96C130.535 3.544 139.655 1.336 149.831 1.336C157.511 1.336 164.567 2.584 170.999 5.08C177.431 7.48 182.855 11.08 187.271 15.88L180.647 22.648C172.679 14.776 162.551 10.84 150.263 10.84C142.103 10.84 134.711 12.664 128.087 16.312C121.559 19.864 116.423 24.856 112.679 31.288C108.935 37.624 107.063 44.728 107.063 52.6C107.063 60.472 108.935 67.576 112.679 73.912C116.423 80.248 121.559 85.24 128.087 88.888C134.615 92.536 141.959 94.36 150.119 94.36C160.487 94.36 169.271 91.768 176.471 86.584V52.6Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M280.358 51.016C286.982 52.456 292.07 55.336 295.622 59.656C299.27 63.88 301.094 69.352 301.094 76.072C301.094 84.712 297.877 91.384 291.445 96.088C285.109 100.696 275.701 103 263.221 103H216.854V2.2H260.341C271.573 2.2 280.262 4.456 286.406 8.96799C292.646 13.48 295.766 19.864 295.766 28.12C295.766 33.688 294.374 38.44 291.59 42.376C288.902 46.216 285.158 49.096 280.358 51.016ZM227.51 10.984V47.56H259.622C267.782 47.56 274.07 46.024 278.486 42.952C282.902 39.784 285.109 35.224 285.109 29.272C285.109 23.32 282.902 18.808 278.486 15.736C274.07 12.568 267.782 10.984 259.622 10.984H227.51ZM263.078 94.216C272.102 94.216 278.918 92.68 283.526 89.608C288.134 86.536 290.438 81.736 290.438 75.208C290.438 62.632 281.318 56.344 263.078 56.344H227.51V94.216H263.078Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M426.32 76.072H370.16L358.064 103H346.976L393.056 2.2H403.568L449.648 103H438.416L426.32 76.072ZM422.432 67.432L398.24 13.288L374.048 67.432H422.432Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M535.154 103L512.114 70.6C509.522 70.888 506.834 71.032 504.05 71.032H476.978V103H466.322V2.2H504.05C516.914 2.2 526.994 5.272 534.29 11.416C541.586 17.56 545.234 26.008 545.234 36.76C545.234 44.632 543.218 51.304 539.186 56.776C535.25 62.152 529.586 66.04 522.194 68.44L546.818 103H535.154ZM503.762 61.96C513.746 61.96 521.378 59.752 526.658 55.336C531.938 50.92 534.578 44.728 534.578 36.76C534.578 28.6 531.938 22.36 526.658 18.04C521.378 13.624 513.746 11.416 503.762 11.416H476.978V61.96H503.762Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                        <path d="M588.562 11.416H553.138V2.2H634.643V11.416H599.219V103H588.562V11.416Z" stroke="#BF7272" stroke-width="2" mask="url(#path-1-outside-1)"/>
                    </svg>       -->
                    <div class="sub-title" >FULLSTACK DEVELOPER + AI</div>
                    <div class="sub-title"style="font-family: mainFont-bold; margin-top:20px">Contact me at :</div>
                    <div class="sub-title"><img src="assets/img/github.png"/><a href="https://github.com/ZepseWolf">https://github.com/ZepseWolf</a></div>
                    <div class="sub-title"><img src="assets/img/linkin.png"/><a href="https://www.linkedin.com/in/see-kai-cong-714b35153/">https://www.linkedin.com/in/see-kai-cong-714b35153/</a></div>
                    <div class="sub-title"><img src="assets/img/email.png"/>seekaicong&#64;gmail.com</div>
                </div>
            </div>

            <div class="tab-container">
                <div class="inner-content fix-bottom" >
                    <div class="tablet-container">
                        <div class="tablet-overlay">
                            <!-- <img class="image-swap" src="assets/img/Capstone_Poster.png" /> -->
                            <div class="slideshow-container">
                                <!-- Full-width images with number and caption text -->
                                 <div class="featured-tag main-shadow-theme" >Featured⭐</div>
                                <div class="mySlides fade" routerLink="/airstrike">
                                    <img src="assets/img/Capstone_Poster.png">
                                    <div class="text">Airstrike - Detect Malisious Website with CNN & BILSTM <br/>( 86% Validation Accuracy )</div>
                                </div>
                            
                                <div class="mySlides fade">
                                    <img src="assets/img/edoc.png" routerLink="/edoc" >
                                    <div class="text">Student's Medical E-Document Evaluation Platform <br/>( Evaluate 150 student every trimester )</div>
                                </div>
                            
                                <div class="mySlides fade">
                                    <img src="assets/img/xvtep.png" routerLink="/vtep">
                                    <div class="text">Wire-Bond Capacitance Testing Interface <br/>( System valued at $100,000+ globally )</div>
                                </div>
                            
                                <!-- Next and previous buttons -->
                                <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
                                <a class="next" (click)="plusSlides(1)">&#10095;</a>
                            </div>
                            <br>
                            
                            <!-- The dots/circles -->
                            <div class="dot-container">
                                <span class="dot" (click)="currentSlide(1)"></span>
                                <span class="dot" (click)="currentSlide(2)"></span>
                                <span class="dot" (click)="currentSlide(3)"></span>
                            </div>
                        </div>
                        
                        <img class="tablet-background" src="assets/img/tablet.png"  />
                    </div>
                    
                    <!-- <svg #svgTablet id="svgTablet" class="tablet" viewBox="0 0 2917 2236" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="2917" height="2236" fill="url(#pattern1)"/>
                        <path class="test" d="M89.5 2085.5V142C89.5 138.158 89 119.5 104 106C119 92.4999 123 93.9999 128 93.9999C133 93.9999 2760.5 89.4999 2760.5 89.4999C2760.5 89.4999 2796.26 88.8521 2812 99.5C2829 111 2829.5 145.5 2829.5 145.5L2826.5 2102C2826.5 2102 2825 2116.5 2816.5 2130C2808 2143.5 2790 2143.5 2790 2143.5L143 2147C143 2147 119.5 2147 103.5 2134.5C87.5001 2122 89.5 2085.5 89.5 2085.5Z" stroke="black"/>
                        <defs>
                            <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image1" transform="scale(0.000342818 0.000447227)"/>
                            </pattern>
                            <image id="image1" width="2917" height="2236" xlink:href="assets/img/tablet.png"/>
                        </defs>
                    </svg>  -->
                    
                </div>
                <svg #svgSnake id="svgSnake" class="tablet-pen" viewBox="0 0 574 1865" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
                        <stop offset="25%" stop-color="rgba(0,0,0,0)" >
                            <animate id="animate1" attributeName="stop-color"   values=" rgba(0,0,0) ;rgba(0,0,0,0.5); rgba(0,0,0,0);rgba(0,0,0,0);"  begin="0s;animate1.end+5s" dur="0.5s"></animate>
                        </stop>
                        <stop offset="50%" stop-color="rgba(0,0,0,0)" >
                            <animate attributeName="stop-color"  values="rgba(0,0,0,0.5); rgba(0,0,0) ;rgba(0,0,0,0.5);rgba(0,0,0,0);" begin="0s;animate1.end+5s" dur="0.5s" ></animate>
                        </stop>
                        <stop offset="75%" stop-color="rgba(0,0,0,0)" >
                            <animate attributeName="stop-color"  values="rgba(0,0,0,0);rgba(0,0,0,0.5); rgba(0,0,0) ;rgba(0,0,0,0.5);" begin="0s;animate1.end+5s" dur="0.5s" ></animate>
                        </stop>
                        <stop offset="100%" stop-color="rgba(0,0,0,0)">
                            <animate attributeName="stop-color" values="rgba(0,0,0,0);rgba(0,0,0,0); rgba(0,0,0,0.5);rgba(0,0,0);"  begin="0s;animate1.end+5s" dur="0.5s" ></animate>
                        </stop>
                        </linearGradient> 
                        <linearGradient id="grad2" x1="0%" y1="100%" x2="100%" y2="0%">
                            <stop offset="25%" stop-color="rgba(0,0,0,0)" >
                            <animate attributeName="stop-color"   values=" rgba(0,0,0) ;rgba(0,0,0,0.5); rgba(0,0,0,0);rgba(0,0,0,0);" begin="0.4s;animate1.end+5.5s" dur="0.5s" ></animate>
                            </stop>
                            <stop offset="50%" stop-color="rgba(0,0,0,0)" >
                            <animate attributeName="stop-color"  values="rgba(0,0,0,0.5); rgba(0,0,0) ;rgba(0,0,0,0.5);rgba(0,0,0,0);" begin="0.4s;animate1.end+5.5s" dur="0.5s" ></animate>
                            </stop>
                            <stop offset="75%" stop-color="rgba(0,0,0,0)" >
                            <animate attributeName="stop-color"  values="rgba(0,0,0,0);rgba(0,0,0,0.5); rgba(0,0,0) ;rgba(0,0,0,0.5);" begin="0.4s;animate1.end+5.5s" dur="0.5s" ></animate>
                            </stop>
                            <stop offset="100%" stop-color="rgba(0,0,0,0)">
                            <animate attributeName="stop-color" values="rgba(0,0,0,0);rgba(0,0,0,0); rgba(0,0,0,0.5);rgba(0,0,0);" begin="0.4s;animate1.end+5.5s" dur="0.5s" ></animate>
                            </stop>
                        </linearGradient> 
                        
                    </defs>
                    <path d="M0 0H574V1865H0V0Z" fill="url(#pattern0)"/>
                    <path fill="url(#grad1)" d="M394.395 1226.08C368.639 1408.16 284 1668 284 1668C284 1668 304.036 918.708 323.286 910.134C342.537 901.559 367.68 944.432 367.68 944.432C367.68 944.432 403.038 999.178 410.895 1074.37C418.752 1149.56 402.683 1167.48 394.395 1226.08Z" />
                    <path fill="url(#grad2)" d="M144.5 624C154.5 587.5 170.5 559 170.5 559L273 331C273 331 248 886 227 892.5C206 899 190 865 190 865C190 865 176 844 161 794C146 744 151.5 767.5 144.5 734C137.5 700.5 134.5 660.5 144.5 624Z" />
                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0" transform="scale(0.00174216 0.000536193)"/>
                        </pattern>
                        <image id="image0" width="574" height="1865" xlink:href="assets/img/tablet_pen.png"/>
                    </defs>
                </svg>
            </div>
        </div>
    </div>

    <div class="background information-div" >
        <div class="side-image right">
            <img src="assets/img/Github_flex.png" >
        </div>

        <div class="side-text left">
            <h1>Experience</h1> 
            <div class="divider"></div>
            <div class="text-info">
                Started programming at 2016 and had worked on countless software projects from school work , industrial projects and self projects. <br/><br/>
                With 2+ years of professional experience including internships and 8+ years of programming/developing/problem solving , i am ready to put my experience into value cafted for your company.
            </div>
            <!-- <button (click)="startNow()">Start Now</button> -->
        </div>
    </div>

    <div class="background information-div">

        <div class="side-image left">
            <div class="project-container">
                <!-- <div class="filter-fix">
                    <i class="fa-solid fa-filter" style="cursor:pointer" (click)="showFilter($event)"></i>
                    <div class="dropdown-sort show ">
                        <div id="checkbox-grid">
                            <div class="row">
                            <ng-container *ngFor="let tool of allTools;index as i">
                                <div class="cell">
                                    <input type="checkbox" (change)="onItemChecked($event,tool)" checked/>
                                    <img [src]="'assets/img/'+tool+'.png'">
                                    {{tool}}
                                    
                                  </div>
                            </ng-container>
                            </div>
                          </div>
                    </div>
                </div> -->  
                <div class="header">Industry Projects</div>
                <div class="grid">
                    <div *ngFor="let project of allProjectView.industryProject" class="grid-item" [routerLink]="project.path">
                        <p class="project-title">{{project.title}} ({{project.yearCompleted}})</p>
                        <div class="centralize-image">
                            <img class="image-display" [src]="project.imgSrc"/>         
                        </div>
                    </div>
                </div>
                <div class="header">Self Projects</div>
                <div class="grid">
                    <div *ngFor="let project of allProjectView.selfProject" class="grid-item" [routerLink]="project.path">
                        <p class="project-title">{{project.title}} ({{project.yearCompleted}})</p>
                        <div class="centralize-image">
                            <img class="image-display" [src]="project.imgSrc"/>         
                        </div>
                    </div>
                </div>
                <div class="header">School Projects</div>
                <div class="grid">
                    <div *ngFor="let project of allProjectView.schoolProject" class="grid-item" [routerLink]="project.path">
                        <p class="project-title">{{project.title}} ({{project.yearCompleted}})</p>
                        <div class="centralize-image">
                            <img class="image-display" [src]="project.imgSrc"/>         
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-text">
            <h1>Projects</h1> 
            <div class="divider"></div>
            <div class="text-info">
               These are the projects I had worked on over the years , I will only display the part of the project i had worked on. 
                
                Click on the projects to learn more. 
            </div>
            <!-- <button (click)="startNow()">Create Now</button> -->
        </div>
    </div>

    <!-- <div class="background information-div">
        <div class="side-image right">
            <img src="assets/img/pexels-michael-burrows-7128963.jpg" >
        </div>

        <div class="side-text left">
            <h1>ANALYSE</h1> 
            <div class="divider"></div>
            <div class="text-info">
                Complex art analyses are provided to improve buyer experience and build interest.
            </div>
            <button (click)="startNow()">Start Now</button>
        </div>
    </div>

    <div class="background information-div">
        <div class="side-image left">
            <img src="assets/img/pexels-michael-burrows-7128963.jpg" >
        </div>

        <div class="side-text right">
            <h1>AUCTION</h1> 
            <div class="divider"></div>
            <div class="text-info">
                An inbuilt auction house to ensure the proper transfer of integrity properties.
            </div>
            <button (click)="startNow()">Start Auction</button>
        </div>
    </div> -->

    
</div>